<mat-card *ngIf='containsSearchText()' id='contact'>
    <mat-card-title>Contact</mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor='let method of this.content' >
        <div *ngIf="this.isURL(method.data.value); else notURL" >
          <span [innerHTML]='method.data.type + ": "'></span>
          <a href="{{method.data.value}}">{{method.data.value}}</a>
        </div>
        <ng-template #notURL>
            <p [innerHTML]='method.data.type + ": " + method.data.value'></p>
        </ng-template>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>